.footer-container {
  height: 400px;
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-top: 4px solid #6c5b51;
}

.footer-left {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.footer-left img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}

.footer-left a {
  color: #ffe5da;
}
.footer-left h1 {
  color: var(--secondary-color);
}
.footer-left p {
  color: #3a001e;
}

.footer-mid {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.contact-title {
  color: var(--secondary-color);
}

.footer-mid h1 {
  color: var(--secondary-color);
  margin-top: 20px;
  border-bottom: 3px solid var(--tertiary-color);
  padding-bottom: 30px;
}
.footer-mid a {
  color: #ffe5da;
  text-decoration: none;
  font-size: 18px;
  padding-top: 20px;
}
.footer-mid p {
  margin-top: 20px;
  color: #3a001e;
  font-weight: 700;
}

.footer-mid a:hover {
  color: #3a001e;
}

.footer-right {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.footer-right p {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.rsx {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.rsx img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.newletter {
  display: flex;
  justify-items: center;
  align-items: center;
}

.newletter a {
  background-color: #ecdfcc8c;
  color: #ffe5da;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--secondary-color);
  padding: 3px;
  width: 50px;
  height: 20px;
}

.newletter a:hover {
  background-color: #ecdfcc48;
}

.news {
  font-size: 14px;
}

@media only screen and (max-width: 480px) {
  .footer-left {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .footer-container {
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    border-top: 4px inset #3a001e63;
  }


  .footer-right p {
  font-size: 16px;
  margin-left: 30px;
  font-weight: 600;
}
}
