body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

   

:root {
  --primary-color: #DA8359;
  --secondary-color: #ECDFCC;
  --tertiary-color: #A5B68D;
  --quaternary-color: #FCFAEE;
  --quinary-color: #da8459b2;
  --senary-color:#4E342E;
   --septenary-color: #6C5B51;
  
  --font-paragraph: apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; 
}