.coverpates-container {
    display: flex;
    justify-content: space-between; /* Pour espacer les images sur la même ligne */
    flex-wrap: wrap; /* Permet de passer à la ligne suivante si nécessaire */
}

.coverpates-container img {
    width: 32%; /* Chaque image occupe environ un tiers de la largeur du conteneur */
    height: 300px; /* Hauteur fixe pour les images */
    object-fit: cover; /* Assure que l'image garde ses proportions */
}

.swiper {
    width: 100%; /* Le carrousel prend toute la largeur du container */
    height: 400px; /* Hauteur de chaque slide */
   
}







.coverpates-container {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

    
}


.coverpates-container a {
    text-decoration: none;
    color: var(--sinary-color);
    font-weight: 500;
}


.item {
    margin: 10px 0;
  }
  
  .hidden {
    display: none;
  }
  