.Forgetmdp-background {
    background-color: var(--tertiary-color);
    align-items: center ;
    display: flex;
    flex-direction: column;
    padding: 50px;
}   


.Forgetmdp-background img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 10px;
   

}

.forget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 3px solid #3a001e;
    width: 800px;
}

.forget-container h1 {
    color: #3a001e88;
    font-size: 24px;
    padding: 10px;
    margin-top: 20px;
  
}

.forget-container p {
    color: #3a001e;
    font-weight: 500;
}


.input-forget {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}

.input-forget input {
    background-color: var(--primary-color);
    border: 2px solid var(--senary-color);
    border-radius: 5px;
    height: 30px;
    width: 300px;
     padding: 8px 12px; 
    font-size: 14px;
}



.input-forget input::placeholder {
    color: var(--senary-color);
    font-weight: 600;
}


.input-forget a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #3a001e;
    background-color: #3a001e72;
    height: 15px;
    text-decoration: none;
    padding: 10px;
    color: white;
    width: 100px;
    font-weight: 700;
    margin-top: 20px;

}


.input-forget a:hover {
    background-color: var(--senary-color);
    font-weight: 800;
}



.btn-forget-password {
    background-color: var(--septenary-color); 
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    width: 150px;
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-forget-password:hover {
    background-color: var(--senary-color); 
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.btn-forget-password:disabled {
    background-color: #a8a8a8;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}
