/* Conteneur principal */
.breadcrumb-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #ffe5da;
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumb-container li {
    display: flex;
    align-items: center;
    position: relative;
}

/* Style des liens dans le fil d'Ariane */
.breadcrumb-container a {
    color: #EB7E68;
    background-color: #3a001ec7;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Ajouter une flèche après chaque élément sauf le dernier */
.breadcrumb-container li:not(:last-child) a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #3a001ec7;
}

/* Effet au survol */
.breadcrumb-container a:hover {
    background-color: #3a001e;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Changer la couleur de la flèche lors du survol */
.breadcrumb-container li:not(:last-child) a:hover::after {
    border-left-color: #3a001e;
}

/* Style pour le dernier élément */
.breadcrumb-container li:last-child a {
    background-color: #EB7E68;
    color: #3a001e;
    pointer-events: none;
    cursor: default;
}

/* Retirer la flèche du dernier élément */
.breadcrumb-container li:last-child a::after {
    content: none;
}
