.time-vegan {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.time-vegan p {
    font-weight: 500;
}
.time-vegan img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.btn-vegan {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.comments-section {
    background-color: #d6d5c1; /* même couleur que ta barre verte */
    padding: 10px;
   
    overflow: hidden;
    
  }
  
  .toggle-button {
    background: none;
    border: none;
    color: #5c3b3b;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
  }
  
  #comments {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease; }



    .comments-section {
        background-color: #b8c09d93;
        padding: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;
        

      }
      
      .toggle-button {
        background: none;
        border: none;
        color: var(--sinary-color);
        font-size: 16px;
        cursor: pointer;
        text-decoration: underline;
        text-decoration: none;
        
      }
      
      .toggle-button:hover {
        color: white;
      }
      .comments-hidden {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.0s ease;
      }
      
      .comments-hidden.open {
        max-height: 500px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }
      

      .comments-hidden.open p {
        background-color: #ecdfcc;
        margin-bottom: 5px;
        padding: 5px;
        color: #4E342E;
      }


      .comments-hidden.open strong {
        color: var(--sinary-color);
      }