.detox-container {
    background-color: #cc9f8d;
    width: 1200px;
}


.detox {
    background-color: #cc9f8dc0;
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;

}

.tips-detox {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.titre-detox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid #3A001E;
    width: 400px; /* Ajouter une largeur spécifique pour que la bordure atteigne 400px */
    margin: 0 auto; /* Centrer l'élément */
    

}

.titre-detox h1 {
    font-size: 40px;
    color: #3A001E ;
    font-weight: 200; 
}

.detox-product {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px ;
    gap: 10px;
    margin-left: 50px;

}

.detox-product img {
    width: 250px;
    height: 150px;
    object-fit: cover;
}


.detail-detox-product {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 650px;
}

.detail-detox-product h2 {
    color: #3A001E;
    font-weight: 400;
}

.p-detox {
    color: #3a001ebd;
    border-bottom: 3px dotted #3A001E;
    padding-bottom: 20px;
    
}


.detail-detox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.detail-detox img {
    width: 30px;
    height: 30px;
}

.detail-detox p {
    color: #3A001E;
    text-shadow: 0px 0px 10px #3a001e94;
}

.tips-ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    
    
}




.tips-ingredient img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    box-shadow: 0px 8px 0px #3A001E;
}

.tips-ingredient p {
    color: #3A001E;
    font-weight: 700;
    background-color: #82333c45;
    padding: 20px;
    border: 2px dotted #3A001E;
    font-size: 15px;
}


.idea {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 30px;
    margin-top: 30px;
}