.plats-titres {
    background-color: #d9b7a9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 125px;
}

.plats-titres img {
    width: 30px;
    height: 30px;
    object-fit: cover;
   
}

.plats-titres h1 {
    color: #3A001F;
}