

.pagejour {
    background-color: #ECDFCC;
    height: 800px;

    box-shadow: 0px 0px 15px black;
}
.recettedujour {
    background-color: #b47a6100;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3A001E;
    gap: 20px;
    
}
.recettedujour img {
    width: 50px;
    height: 50px;
    
    padding: 2px;
}

.recettedujour h1 {
    border-bottom:3px dotted #3A001E;
    padding: 5px;
    color: #4E342E;
}
.description-pagejour {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #a5b68d81;
    color: #3A001E;
    font-weight: 700;
}

.recetteday-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.recetteday-left img {
    width: 550px;
    height: 300px;
    margin-bottom: 20px;
    margin-top: 100px;
    object-fit: cover;
    border-radius: 5px;
    border: 3px solid #A5B68D;
    box-shadow: 0px 0px 15px #A5B68D;
}

.recetteday-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 70px;

    
}


.recetteday-left h1 {
    color: #ECDFCC;
    width: 200px;
    font-size: 25px;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    border: 3px solid #A5B68D;
    justify-content: center;
    background: #DA8359;
}

.recetteday-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    margin-left: 100px;
    margin-top: 40px;
}

.titre-recetteday {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #4E342E;
}

.stitre-recetteday {
    font-size: 20px;
    color: #4E342E;
    font-weight: 500;
}

.stars {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    background: linear-gradient(to right, #DA8359, #DA8359);
    padding: 7px;
    color: #fee1d6;
   
}





.first-stars {
    border-left: 3px dotted #3A001E;
    padding-left: 20px;
}


.com-recetteday {

    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 170px;
    gap: 20px;
}

.com-recetteday img {
    width: 20px;
    height: 20px;
    object-fit: cover;

}

@media only screen and (max-width: 480px) {

        .pagejour-texte {
            font-size: 14px;
            height: 70px;
            width: 330px;
        }

    
.description-pagejour {
    height: 75px;
 
 
 }


 .recetteday-container {
    display: flex;
    flex-direction: column;
    
}


 
 .recettedujour {
     margin-top: 30px;
 }
 
.recettedujour h1 {
    font-size: 18px;
}


.recetteday-left img {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 30px;
    object-fit: cover;
    border-radius: 5px;
    border: 3px solid #8a606e;
    box-shadow: 0px 0px 15px #8a606e;
}



.recetteday-left {
    
    margin-right: 63px;
}

.recetteday-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin-left: 40px;
    margin-top: 40px;
    

}

.titre-recetteday {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}


.stitre-recetteday {
    font-size: 14px;
}

.stars {

    margin-top: 15px;
    padding: 7px;
}

.com-recetteday {
  
    margin-left:0px;
    gap: 10px;
}

.first-stars {
    border-left: 3px dotted #3A001E;
    padding-left: 10px;
}
    .stars p {
   font-size: 13px;
}


.com-recetteday img {
    width: 15px;
    height: 15px;
}


.plats-titres {
    background-color: #8a606e9d;
    gap: 75px;
    height: 50px;
    color: #3A001F;
}

.feculent-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #d9b7a9;
        gap: 50px;
        padding: 40px;
}


 }



