.ProductDetails {
    background-color: #b47a616a;
    height: 3500px;
    
}



.Product-container {
    background-color: #b47a616a;
    height: 3500px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    margin: 0 auto;
 
}

.Product-container h1 {
    color: #3a001e;
    margin-bottom: 30px;
    margin-top: 50px;
}


.img-principal-details {
    width: 610px;
    height: 400px;
    object-fit: cover;
    border: 4px solid #3a001e;

    border-top: 4px solid #3a001e9d;
    border-bottom: 4px solid #3a001e9d;
    
}

.bank-img-details {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 40px;
    margin-bottom: 10px;
 

    height: 120px;
}



.bank-img-details img {
    width: 120px;
    height: 80px;
    display: flex;
    object-fit: cover;
  
    transition: transform 0.7s ease; /* Ajout de la transition pour un zoom lent */


}

.bank-img-details img:hover {

    transition: transform 0.3s ease;
    transform: scale(1.1); /* Applique un zoom de 10% lorsqu'on survole l'image */
  cursor: pointer; /* Change le curseur pour indiquer que l'image est interactive */


}



.info-time-product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: linear-gradient(to right, #3a001e44, #3a001e0e);
    border-top: 3px solid #3a001e;
    padding: 10px;
    border-bottom: 3px solid #3a001e;
}

.info-time-product img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.info-time-product p {
    color: #3a001e;
    font-weight: 500;

}


.stars-product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 7px;
    width: 504px;
    
}


.ingredient-container h1 {
    margin-top: 50px;
    border-bottom: 3px solid #3a001e;
    padding: 10px;
}

.ingredients-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.ingredients-right {
    color: #3a001e;
    font-weight: 600;
    font-size: 20px;
}

.ingredients-left {
    color: #3a001e;
    font-size: 20px;
}



.prepa-container h1 {
    margin-top: 50px;
    border-bottom: 3px solid #3a001e;
    padding: 10px;
    width: 600px;
    display: flex;
}

.prepa-texte-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
    width: 600px;
}

.prepa-texte-container h2 {
    padding: 10px;
    background: linear-gradient(to right, #3a001e, #3a001ea5); /* dégradé de couleur */
    -webkit-background-clip: text;
    color: transparent;
}


.prepa-texte-container p {
    padding: 20px;
    color: #3a001e;
    font-size: 20px;
}


.avis-product-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    
}   

.avis-product-detail img {
    width: 20px;
    height: 20px;

}


.barre-recette {
    font-size: 30px;
}

.recette-critique {
    font-size: 20px;
}

.textarea-avis {
    width: 600px;
    height: 200px;
    margin-top: 20px;
    background-color: var(--primary-color);
    color: var(--primary-color);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}


.textarea-avis::placeholder {
    color: var(--quaternary-color);
    padding: 10px;
    font-size: 18px;
}

.envoyer-avis {
    text-decoration: none;
    color: var(--quaternary-color);
    margin-top: 15px;
    width: 150px;
    background-color: #A5B68D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 0 auto;
    
}

.envoyer-avis:hover {
    background-color: #da845995;
}


.astuce-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 570px;
    background-color: #ea694f58;
    margin-top: 100px;
    padding: 20px;
}

.astuce-texte {
    font-size: 30px;
    margin-bottom: 20px;
}















.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .lightbox-content {
    position: relative;
  }
  
  .lightbox-image {
    max-width: 100%;
    max-height: 100%;
    width: 800px;
    height: 600px;
    object-fit: cover;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transform: translateY(-50%);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  




  @media only screen and (max-width: 480px) { 



  .avis-product-detail img {
    max-width: 15px;
    max-height: 15px;
}


.recette-critique {
    font-size: 15px;
}

.avis-product-detail {
    gap: 10px;
    width: 260px;
    padding: 20px;
}


.textarea-avis {
    width: 270px;
    height: 200px;
    margin-top: 40px;
    background-color: #3a001e49;
    color: #e0c8bd;

}

  }