.plats-titres {
    background-color: #a5b68db6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100px;
    color: #3A001F;
}

.plats-titres img {
    width: 40px;
    height: 40px;
    object-fit: cover;
   
}

.plats-titres h1 {
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 30px;
    padding: 10px;
    width: 120px;
  
    
}

.comment-homepage {
    color: #4E342E;
}
.plats-body-container {
    background-color: #ECDFCC;
}


.title-comment {
    background-color: #a5b68db6;;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100px;
    color: #3A001F;
}


.title-comment img {
    width: 40px;
    height: 40px;
    object-fit: cover;
   
}

/* --------------------- section commentaires --------------------- */


.comment-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 600px;
    background-color: #a5b68d94;
     margin: 0 auto; /* Centre horizontalement */
    margin-top: 100px;
    padding: 10px;

}

.profil-comment {
    display: flex;
    
}

.profil-comment img {
    width: 50px;
    height:50px;
    object-fit: cover;
}

.infos-comment {

    gap: 20px;
    margin-right: 350px;
}


.infos-comment img {
    width: 15px;
    height: 15px;
    object-fit: cover;

}


.infos-comment p {
   color: #4E342E;

}

.fav-icon img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}


.comment-zone {
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 540px;
    background-color: var(--primary-color);
    padding: 30px;
    padding-left: 50px;
    margin: 0 auto; /* Centre horizontalement */

}
.comment-zone p {
    color: black;
    font-size: 18px;
}


.comment-recette {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.comment-recette a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;

}

.comment-recette a:hover {
    color: #FCFAEE;
    
}

.add-comment input {
    width: 300px;
    background-color: #a5b68d7b;
    border: none;
    height: 30px;
}


.add-comment button {
    height: 30px;
    color: white;
    border: 2px solid var(--secondary-color);
    background-color: #ecdfcc8c;
    padding: 5px;
} 

.add-comment button:hover {

    background-color: #a5b68d59;
    cursor: pointer;
 
} 


.donnez-avis {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
    color: #4E342E;
}

.btn-envoyer-avis {
    display: flex;
    margin-top: 20px;
    color: #4E342E;
    align-items: center;
    justify-content: center;
    
}


@media only screen and (max-width: 480px) { 


    .title-comment {
        gap: 30px;
        height: 50px;
        color: #3A001F;
    }

    .title-comment img {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    .comment-container {

        gap: 10px;
        width: 330px;
        margin: 0 auto;
        margin-top: 100px;
        padding: 10px;
    }

    .infos-comment {
        gap: 0px;
        margin-right: 80px;
    }
    
    
    .comment-zone {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 270px;
        background-color: #cbaba3;
        padding: 30px;
        padding-left: 50px;
        margin: 0 auto;
    }

    .comment-recette {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .comment-recette p {
        font-size: 14px;
    }
    .comment-recette a {
        font-size: 14px;
    }

    .add-comment input {
        width: 200px;
        margin-right: 10px;
    }

    .donnez-avis {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .avis-product-detail img {
        max-width: 15px;
        max-height: 15px;
    }


    .recette-critique {
        font-size: 15px;
    }

    .avis-product-detail {
        gap: 10px;
        width: 200px;
        padding: 0px;
    }


    .textarea-avis {
        width: 250px;
        height: 200px;
        margin-top: 20px;
        background-color: #3a001e49;
        color: #e0c8bd;
        margin: 0 auto;
        display: flex ;
        justify-content: center;
        align-items: center;
    }

}



.plats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.recipes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding:70px;
    
}

.plats-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    gap: 10px;
    padding-bottom: 10px;
    
}

.plats-card h1 {
    color: #3A001E;
    font-size: 24px;
}



.stars-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--tertiary-color);
    padding: 5px;
}

.stars-container p {
    color: #3A001E;
}



.plats-card a {
    text-decoration: none;
    background-color: var(--tertiary-color);
    padding: 5px;
    border-radius: 10px;
}



/* -------------------------------------------------------------------------------------------------------- */




:root {
    --primary-color: #DA8359;
    --secondary-color: #ECDFCC;
    --tertiary-color: #A5B68D;
    --quaternary-color: #FCFAEE;
    --quinary-color: #da8459b2;
    --senary-color: #4E342E;
}

/* .plats-body-container {
    padding-left: 100px;
      padding-right: 100px;
} */







.plats-titres {
    text-align: center;
    margin-bottom: 40px;
  color: var(--secondary-color);
   background-color:#4e342e91;
     height: 100px;
}

.comment-section-global {
    background-color: var(--secondary-color);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-radius: 15px;
 
}

.comment-section-global h2 {
    color: var(--secondary-color);
    margin-bottom: 50px;
    font-size: 24px;
    background-color:#4e342e91;
    width: 1535px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.comment-section-global select,
.comment-section-global input,
.comment-section-global textarea {
    
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: var(--tertiary-color);
    color: var(--senary-color);
}

.comment-section-global input {
    width: 800px;
}



.comment-section-global textarea {
     width: 800px !important;
   color: white;
    resize: none;
     outline: none;
  border: none; /* si tu veux aussi enlever une éventuelle bordure */
  box-shadow: none; /* optionnel, au cas où */
}

.comment-section-global textarea::placeholder {
 
   color: white;
}

.comment-section-global select {
      width: 830px;
       color: white;
}

.comment-section-global button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-section-global button:hover {
    background-color: var(--quinary-color);
    border: none;
}

.comments-list {
    background-color: #4e342e91;
    color: var(--secondary-color);
    width: 1535px;

}

.comment-item {
    display: flex;
    gap: 15px;
    background-color: var(--secondary-color);
    padding: 15px;
    border: 1px solid var(--senary-color);
   
  
}

.comment-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment-item div p {
    margin: 5px 0;
    color: var(--senary-color);
}

.comment-item div p strong {
    color: var(--primary-color);
}



.commentaires-add {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.all-comments-section {
  margin-top: 40px;
  background-color: var(--senary-color);
  padding: 30px;
  border-radius: 12px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.comment-card {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}