.form {
    background-color:#eb7e683d ;
    width: 1550px;
    height: 750px;
    display: flex;
}

.login-form {
    background-color:#3a001e53;
    width: 700px;
    height: 475px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 425px;
}


.login-form h1 {
    color: #3A001E;
    margin-bottom: 50px;
    text-shadow: 0px 0px 15px #3a001e6f;
}
.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container-form p {
    color: #3A001E;
    margin-bottom: 5px;
    font-weight: 600;
    
}

.container-form input {
    margin-bottom: 20px;
    height: 25px;
    border-bottom: 4px solid #3A001E;
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    padding: 5px;
}

.container-form a {
    text-decoration: none;
    color: rgb(255, 254, 240);
}

.create-account {
    display: flex;
    gap: 10px;
}


.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #3a001e;
    background-color: #3a001e72;
    height: 30px;
    text-decoration: none;
    padding: 5px;
    color: white;
    margin-top: 30px;
    font-weight: 700;
} 

.login-btn:hover {
    background-color: #3a001eb2;
    font-weight: 800;
}


.forgetmdp {
    display: flex;
    justify-content: center;    
    padding: 10px;
    margin-bottom: 10px;
    
}


.forgetmdp a {

    color: #3A001E;
    text-decoration: dashed;

}